<div class="container" ng-controller="TransportsCtrl">
  <!--  link-->

  <a href="/gui" ng-click="currentTpl='/listTransport.html'" id="listTransport">List of transports</a> |
  <a href="#/0" ng-click="currentTpl='/addTransport.html'" id="addTransport">Create new transport </a>

  <!-- include "List of transports" or "Create new transport"-->
  <div id="tpl-content" ng-include src="currentTpl"></div>

  <!--  script "List of transports"-->
  <script type="text/ng-template" id="/listTransport.html">

    <!--  form update -->
    <form class="central" ng-show="transport.id" ng-submit="editTransport()">
      Title <input type="text" ng-model="transport.title" ><br />
        Departure date <input type="text" placeholder="YYYY-mm-dd" ng-model="transport.departure_date" ><br />
        Arrival date <input type="text" placeholder="YYYY-mm-dd" ng-model="transport.arrival_date"  ><br />
        Departure point (latitude, longitude) <input type="text"   placeholder="49.1897329,-0.264633" ng-model="transport.departure_point"><br />
        Arrival point (latitude, longitude) <input type="text"  placeholder="49.1897329,-0.264633" ng-model="transport.arrival_point"><br />
        Status :
        <select ng-model="transport.status">
          <option value="PROPOSED">PROPOSED</option>
          <option value="CONFIRMED">CONFIRMED</option>
          <option value="RESERVED">RESERVED</option>
          <option value="CHECKEDIN">CHECKEDIN</option>
          <option value="CHECKEDOUT">CHECKEDOUT</option>
        </select><br />
        <button ng-click="update()">Update</button>
    </form>

    <!--  search in title of transport-->
    <p><input type="text" ng-model="search.title" placeholder="Search title"></p>

    <!-- table List of transports -->
    <table >
        <thead>
          <tr>
            <th>UUID</th><th>TITLE</th><th>DEPARTURE DATE</th><th>ARRIVAL DATE</th><th>DEPARTURE POINT</th><th>ARRIVAL POINT</th><th>STATUS</th><th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <!--  displays each transport line by id DESC-->
          <tr ng-repeat="t in transports | filter: search | orderBy : '-id'">
            <td>
              {{t.id}}
            </td>
            <td>
              {{t.title}}
            </td>
            <td>
              {{t.departure_date}}
            </td>
            <td>
              {{t.arrival_date}}
            </td>
            <td>
              <a href="/map?point={{t.departure_point}}">{{t.departure_point}}</a>
            </td>
            <td>
              <a href="/map?point={{t.arrival_point}}">{{t.arrival_point}}</a>
            </td>
            <td>
              {{t.status}}
            </td>
            <td>
              <a href="#/{{t.id}}" ng-click="showEditTransport(t)" >Update</a><br />
              <a ng-click="remove(t.id)">Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
  </script>

  <!--  script "List of transports"-->
  <script type="text/ng-template" id="/addTransport.html">

    <!--  form create -->
    <form class="central" ng-submit="newTransport()" >
      Title <input type="text" ng-model="n.title" ><br />
      Departure date <input type="text" placeholder="YYYY-mm-dd" ng-model="n.departure_date"><br />
      Arrival date <input type="text" placeholder="YYYY-mm-dd" ng-model="n.arrival_date"><br />
      Departure point (latitude,longitude) <input type="text" placeholder="37.4224764,-122.0842499" ng-model="n.departure_point" ><br />
      Arrival point (latitude,longitude) <input type="text" placeholder="37.4224764,-122.0842499" ng-model="n.arrival_point" ><br />
      Status :
      <select ng-model="n.status">
        <option value="PROPOSED">PROPOSED</option>
        <option value="CONFIRMED">CONFIRMED</option>
        <option value="RESERVED">RESERVED</option>
        <option value="CHECKEDIN">CHECKEDIN</option>
        <option value="CHECKEDOUT">CHECKEDOUT</option>
      </select><br />
      <button ng-show="!t.id" ng-click="save()">Create</button>
    </form>

  </script>
</div>
