    <div id="map"></div>

    <script type="text/javascript">
var map;

function initMap() {
  var CheminComplet = document.location.href;
  var point = CheminComplet.substring(CheminComplet.lastIndexOf( "=" )+1);
  var lngLat = point.split(",");
  var lat = Number(lngLat[0]);
  var lng = Number(lngLat[1]);
  var myLatLng = {lat: lat, lng: lng};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: myLatLng
  });
  var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map
  });
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPFk_0NsUl_8-ky5RctrGFYCEsHBQ2y3Q&callback=initMap">
    </script>
