body{
  background: url(../images/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 50%;
  width: 50%;
  margin: auto;
}
.central{
    /*margin-top: 5%;*/
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2px;
    background-color: #13232f;
    color: white;
    opacity: 0.7;
    border-radius: 4px;
    box-shadow:0 4px 10px 4px rgba(#c1bdba,.3);

}

input, textarea, select {
  font-size:22px;
  display:block;
  width:70%;
  height:100%;
  padding:5px 10px;
  border:1px solid #a0b3b0;
  background-color: #13232f;
  color:white;
  margin: auto;
  border-radius:0;
}

button{
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}

button:hover{
    background-color:#117258;
}

td {
text-align: center;
padding: 2px;
border: 1px solid #ccc;
}

th {
text-align: center;
background-color: #13232f;
color: white;
padding: 2px;
border: 1px solid #117258;
}

table{
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  opacity: 0.7;
}
table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
background-color:#fff;
}
